/php
/phpmyadmin

/homestead/node_modules
/homestead/public/hot
/homestead/public/storage
/homestead/storage/*.key
/homestead/vendor
/homestead/.idea
/homestead/.vscode
/homestead/.vagrant
/homestead/Homestead.json
/homestead/Homestead.yaml
/homestead/npm-debug.log
/homestead/yarn-error.log
/homestead/.env

/manytomany/node_modules
/manytomany/public/hot
/manytomany/public/storage
/manytomany/storage/*.key
/manytomany/vendor
/manytomany/.idea
/manytomany/.vscode
/manytomany/.vagrant
/manytomany/Homestead.json
/manytomany/Homestead.yaml
/manytomany/npm-debug.log
/manytomany/yarn-error.log
/manytomany/.env

/onetomany/node_modules
/onetomany/public/hot
/onetomany/public/storage
/onetomany/storage/*.key
/onetomany/vendor
/onetomany/.idea
/onetomany/.vscode
/onetomany/.vagrant
/onetomany/Homestead.json
/onetomany/Homestead.yaml
/onetomany/npm-debug.log
/onetomany/yarn-error.log
/onetomany/.env

/onetoone/node_modules
/onetoone/public/hot
/onetoone/public/storage
/onetoone/storage/*.key
/onetoone/vendor
/onetoone/.idea
/onetoone/.vscode
/onetoone/.vagrant
/onetoone/Homestead.json
/onetoone/Homestead.yaml
/onetoone/npm-debug.log
/onetoone/yarn-error.log
/onetoone/.env

/polymorphic/node_modules
/polymorphic/public/hot
/polymorphic/public/storage
/polymorphic/storage/*.key
/polymorphic/vendor
/polymorphic/.idea
/polymorphic/.vscode
/polymorphic/.vagrant
/polymorphic/Homestead.json
/polymorphic/Homestead.yaml
/polymorphic/npm-debug.log
/polymorphic/yarn-error.log
/polymorphic/.env

